<%- include('../partials/header') %>
    <h1>
        <%= title %>
    </h1>

    <button class="button"><a id="add-event" href="/events/new">Add event</a></button>
    <button class="button"><a id="add-event" href="/events/<%= event._id %>/edit">Edit event details</a></button>

    <table id="event-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>

            </tr>
        </thead>
        <tbody>
            <%events.forEach(function(e){  %>
                <tr>
                    <td>
                        <%= e.name %>
                    </td>
                    <td>
                        <%= e.date.toLocaleDateString() %>
                    </td>

                    <td><button><a class="list-button" href="/events/<%= e._id %>">SELECT</a></td></button>
                        <td>
                            <div>
                                <form action="/events/<%= e._id %>?_method=DELETE" class="delete-form" method="POST">
                                    <button type="submit">DELETE </button>
                                </form>
                            </div>
                        </td>
                </tr>
                <%}); %>

        </tbody>

    </table>
    <h2>Event Details</h2>

    <section id="event-details">
        <div>
            Event Name:
            <%= event.name %>
        </div>
        <div>
            Client Name:
            <%= event.client %>
        </div>
        <div>
            Date:
            <%= event.date.toDateString() %>
        </div>
        <div>
            Event Start(Doors):
            <%= event.date.toLocaleTimeString() %>
        </div>

        <br>
        <div>
            Workers:
        </div>
        <div>
            <ul>
                <%- event.workers.map(w => 
                  `<li>${w.name} <small>${w.specialty} </small><br>
                    <form id="remove-worker-to-event" action="/events/${event._id}/remove/${w._id} "method="POST"><button class="list-button" type="submit">Remove from Event</button></form><button class="list-button"><a class="list-button" href="/events/${event._id}/${w._id}">Details</a></button></li>` ).join('') %>
            </ul>
        </div>
        <br>



        <div>Add Workers to Event</div>
        <form id="add-worker-to-event" action="/events/<%= event._id %>/worker" method="POST">
            <select name="workerId">
            <%- workers.map(w => `<option value="${w._id}">${w.name}</option>`) %> 
            </select>
            <button type="submit">Add Worker to Event</button>
        </form>

    </section>

    <h2>Venue Details</h2>
    <section id="selected-details">


        <div>
            Venue Name:
            <%= venue.name %>
        </div>
        <div>
            City:
            <%= venue.city %>
        </div>
        <div>
            State:
            <%= venue.state %>
        </div>
        <div>
            Power Service:
            <%= venue.power %>
        </div>
        <div>
            Union:
            <%= venue.union %>
        </div>
        <h2>Worker Details</h2>
        <div>
            Name:
            <%= worker.name %>
        </div>
        <div>
            City:
            <%= worker.city %>
        </div>
        <div>
            Phone Number:
            <%= worker.phoneNumber %>
        </div>
        <div>
            State:
            <%= worker.state %>
        </div>
        <div>
            Specialty:
            <%= worker.specialty %>
        </div>
        <div>
            Day Rate:
            <%= worker.dayRate %>
        </div>
        <div>
            <button><a class="list-button" href="/workers/<%= worker._id %>">SELECT</a></button>
        </div>

    </section>

    <!-- <section id="selected-worker-details">
        <h2>Worker Details</h2>
        <div>
            Name:
            <%= worker.name %>
        </div>
        <div>
            City:
            <%= worker.city %>
        </div>
        <div>
            Phone Number:
            <%= worker.phoneNumber %>
        </div>
        <div>
            State:
            <%= worker.state %>
        </div>
        <div>
            Specialty:
            <%= worker.specialty %>
        </div>
        <div>
            Day Rate:
            <%= worker.dayRate %>
        </div>



    </section> -->



    <%- include('../partials/footer') %>