<%- include('../partials/header') %>


    <h1>
        <%= title %>
    </h1>

    <table id="event-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <%events.forEach(function(e){  %>
                <tr>
                    <td>
                        <%= e.name %>
                    </td>
                    <td>
                        <%= e.date.toLocaleDateString()%>
                    </td>

                    <td><a href="/events/<%= e._id %>">SELECT</a></td>
                    <td>
                        <div>
                            <form action="/events/<%= e._id %>?_method=DELETE" class="delete-form" method="POST">
                                <button type="submit">X </button>
                            </form>
                        </div>
                    </td>
                </tr>
                <%}); %>

        </tbody>

    </table>
    </section>


    <section id="event-details-input">
        <form id="form-new-event" action="/events/<%= event.id %>?_method=PUT" method="POST">
            <label>Event Name:</label>
            <input type="text" name="name" value="<%= event.name %>">
            <label>Client/Promoter:</label>
            <input type="text" name="client" value="<%=event.client %>">

            <label>Event Date/Time:</label>

            <input type="datetime-local" name="date" value="<%= editDate %>">
            <label>Venues:</label>
            <select name="venue">
                <option value="<%= event.venue %>" selected><%= venue.name %> </option>
            <%  venues.forEach(function(v){ %>
                <option value="<%=v._id%>">
            <%=v.name%>
                </option>
                <%})%>
                
                    </select>
            </select>

            <input id="edit-event-info" type="submit" value="Edit event Info">
        </form>
    </section>

    <%- include('../partials/footer') %>