<%- include('../partials/header') %>

    <h1>
        <%= title %>
    </h1>

    <section id="event-list">

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <%events.forEach(function(e){  %>
                    <tr>
                        <td>
                            <%= e.name %>
                        </td>
                        <td>
                            <%= e.date.toDateString() %>
                        </td>

                        <td><button><a class="list-button" href="/events/<%= e._id %>">SELECT</a></td></button>
                            <td>
                                <div>
                                    <form action="/events/<%= e._id %>?_method=DELETE" class="delete-form" method="POST">
                                        <button type="submit">DELETE </button>
                                    </form>
                                </div>
                            </td>
                    </tr>
                    <%}); %>

            </tbody>

        </table>
    </section>





    <h2></h2>
    <section id="event-details">


    </section>
    <button class="button"><a id="add-event" href="/events/new">Add event</a></button>



    <%- include('../partials/footer') %>