<%- include('../partials/header') %>

    <h1>
        <%= title %>
    </h1>

    <a id="add-event" href="/events/new">Add Event</a>

    <table id="event-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>



            </tr>
        </thead>
        <tbody>
            <%events.forEach(function(e){  %>
                <tr>
                    <td>
                        <%= e.name %>
                    </td>
                    <td>
                        <%= e.date %>
                    </td>

                    <td><a href="/events/<%= e._id %>">SELECT</a></td>
                    <td>
                        <div>
                            <form action="/events/<%= e._id %>?_method=DELETE" class="delete-form" method="POST">
                                <button type="submit">X </button>
                            </form>
                        </div>
                    </td>
                </tr>
                <%}); %>

        </tbody>

    </table>





    <section id="event-details">
        <h2>Event Details</h2>

    </section>

    <%- include('../partials/footer') %>