<%- include('../partials/header') %>

    <h1>
        <%= title %>
    </h1>

    <a id="add-event" href="/events/new">Add Event</a>


    <section id="event-list">
        <h2>Upcoming Events</h2>
        <%events.forEach(function(e){  %>
            <div>
                <%= e.name %>
            </div>
            <div>
                <%= e.city %>
            </div>
            <div>
                <%= e.state %>
            </div>
            <div>
                <a href="/events/<%= e._id %>">SELECT</a>
            </div>

            <%}); %>
    </section>

    <section id="event-details">
        <h2>Event Details</h2>

    </section>

    <%- include('../partials/footer') %>