<%- include('../partials/header') %>

    <h1>
        <%= title %>
    </h1>

    <section id="event-list">

        <table >
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <%events.forEach(function(e){  %>
                    <tr>
                        <td>
                            <%= e.name %>
                        </td>
                        <td>
                            <%= e.date.toDateString() %>
                        </td>
                        
                        <td><a href="/events/<%= e._id %>">SELECT</a></td>
                        <td>
                            <div>
                                <form action="/events/<%= e._id %>?_method=DELETE" class="delete-form" method="POST">
                                    <button type="submit">Delete </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                <%}); %>
                    
            </tbody>
                
        </table>
    </section>
        
       
    



    <section id="event-details">
        <h2>Event Details</h2>

    </section>
    
    <a id="add-event" href="/events/new">Add Event</a>
    <%- include('../partials/footer') %>