<%- include('../partials/header') %>


    <h1>
        <%= title %>
    </h1>

    <table id="event-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>



            </tr>
        </thead>
        <tbody>
            <%events.forEach(function(e){  %>
                <tr>
                    <td>
                        <%= e.name %>
                    </td>
                    <td>
                        <%= e.date %>
                    </td>

                    <td><a href="/events/<%= e._id %>">SELECT</a></td>
                    <td>
                        <div>
                            <form action="/events/<%= e._id %>?_method=DELETE" class="delete-form" method="POST">
                                <button type="submit">X </button>
                            </form>
                        </div>
                    </td>
                </tr>
                <%}); %>

        </tbody>

    </table>
    </section>

    <section id="event-details-input">
        <h2>Enter New event</h2>
        <form id="form-new-event" action="/events" method="POST">
            <label>Event Name:</label>
            <input type="text" name="name">
            <label>Client/Promoter:</label>
            <input type="text" name="client">
            <label>Event Date/Time:</label>
            <input type="datetime-local" name="date" value="<%=defaultDate%>">
            <label>Venues:</label>
            <select name="venue">
            <%  venues.forEach(function(v){ %>
                <option value="<%=v._id%>"><%=v.name%></option>
            <%})%> 
             </select>
            <!-- <label>Venue:</label>
            <input type="text" name="venue"> -->
            <!-- <label>City:</label>
            <input type="text" name="city">
            <label>State: </label>
            <input type="text" name="state"> -->
           
            <label>Workers:</label>
            <!-- <select name="workers">
                <%  workers.forEach(function(w){ %>
                    <option value="<%= w._id %> "><%= w.name %> </option>
                <% }) %> 
                 </select> -->

            <input id="add-event-button" type="submit" value="Add event">
        </form>

    </section>

    <%- include('../partials/footer') %>