<%- include('../partials/header') %>
    <h1>
        <%= title %>
    </h1>

    <a id="add-event" href="/events/new">Add event</a>


    <section id="event-list">
        <h2>Current events</h2>
        <%events.forEach(function(v){  %>
            <div>
                <%= v.name %>
            </div>
            <div>
                <%= v.city %>
            </div>
            <div>
                <%= v.state %>
            </div>
            <div>
                <a href="/events/<%= v._id %>">SELECT</a>
            </div>

            <%}); %>
    </section>

    <section id="event-details">
        <h2>event Details</h2>

        <div>
            Event Name:
            <%= event.name %>
        </div>
        <div>
            Client Name:
            <%= event.client %>
        </div>
        <div>
            Date:
            <%= event.date %>
        </div>
        <div>
            City:
            <%= event.city %>
        </div>
        <div>
            State:
            <%= event.state %>
        </div>
        <div>
            Duration:
            <%= event.duration %>
        </div>




    </section>

    <%- include('../partials/footer') %>