<%- include('./partials/header') %>

    <body>
        <div class="landing">Gig Tracker</div>
        <div class="landing-sub">by Dunn Deal Productions</div>



        <a href="/venues" class="landing-choice" <%- title==='Venues' ? 'class="active"' : '' %>>VENUES</a>

        <a href="/events" class="landing-choice" <%- title==='Events' ? 'class="active"' : '' %>>EVENTS</a>

        <a href="/workers" class="landing-choice" <%- title==='Workers' ? 'class="active"' : '' %>>WORKERS</a>



    </body>

    <%- include('./partials/footer') %>