<%- include('./partials/header') %>

    <body>
        <div class="container">
            <div class="text-center">
                <h1>Gig Tracker</h1>

            </div>
            <!-- <div class="card">
                <div class="card-body">
                    <a href="/venues" class="card-body" <%- title==='Venues' ? 'class="active"' : '' %>>VENUES</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <a href="/events" class="card-body" <%- title==='Events' ? 'class="active"' : '' %>>EVENTS</a>                
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <a href="/workers" class="card-body" <%- title==='Workers' ? 'class="active"' : '' %>>WORKERS</a>                
                </div>
            </div> -->

            <div class="d-grid gap-2">
                <a href="/venues" class="btn btn-primary btn-lg" role="button">Venues</a>
                <a href="/events" class="btn btn-primary btn-lg">Events</a>
                <a href="/workers" class="btn btn-primary btn-lg">Workers</a>
            </div>

        </div>

    </body>

    <%- include('./partials/footer') %>