<%- include('../partials/header') %>


    <h1>Welcome to
        <%= title %>
    </h1>

    <table id="venue-list">
        <h2>Current Venues</h2>
        <thead>
            <tr>
                <th>Venue</th>
                <th>City</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            <%venues.forEach(function(v){  %>
                <tr>
                    <td>
                        <%= v.name %>
                    </td>
                    <td>
                        <%= v.city %>
                    </td>
                    <td>
                        <%= v.state %>
                    </td>
                    <td>
                        <button><a class="list-button" href="/venues/<%= v._id %>">SELECT</a></button>

                    </td>
                    <td>
                        <div>
                            <form action="/venues/<%= v._id %>?_method=DELETE" class="delete-form" method="POST">
                                <button type="submit">X </button>
                            </form>
                        </div>
                    </td>
                </tr>

                <%}); %>
        </tbody>
    </table>

    <section id="venue-details-input">
        <h2>Edit Venue</h2>
        <form id="form-new-venue" action="/venues/<%= venue.id %>?_method=PUT " method="POST">
            <label>Name:</label>
            <input type="text" name="name" value="<%= venue.name %> ">
            <label>City:</label>
            <input type="text" name="city" value="<%=venue.city %> ">
            <label>State: </label>
            <input type="text" name="state" value="<%=venue.state %> ">
            <label>Power:</label>
            <select name="power">
                <% if (venue.power==="1 PHASE 100A") { %>
                    <option value="1 PHASE 100A" selected>Single-Phase - 100A</option>
                    <option value="3 PHASE 100A">3-Phase - 100A</option>
                    <option value="3 PHASE 200A" >3-Phase - 200A</option>
                    <option value="3 PHASE 400A">3-Phase - 400A</option>
                    
                    <% } else if (venue.power==="3 PHASE 100A") { %>
                        <option value="1 PHASE 100A" >Single-Phase - 100A</option>
                        <option value="3 PHASE 100A" selected>3-Phase - 100A</option>
                        <option value="3 PHASE 200A" >3-Phase - 200A</option>
                        <option value="3 PHASE 400A">3-Phase - 400A</option>
                        
                        <% } else if (venue.power==="3 PHASE 200A") { %>
                            <option value="1 PHASE 100A" >Single-Phase - 100A</option>
                            <option value="3 PHASE 100A">3-Phase - 100A</option>
                            <option value="3 PHASE 200A" selected >3-Phase - 200A</option>
                            <option value="3 PHASE 400A">3-Phase - 400A</option>
                        <% } else if (venue.power==="3 PHASE 400A") { %>
                          <option value="1 PHASE 100A" >Single-Phase - 100A</option>
                            <option value="3 PHASE 100A">3-Phase - 100A</option>
                            <option value="3 PHASE 200A" >3-Phase - 200A</option>
                            <option value="3 PHASE 400A"selected >3-Phase - 400A</option>
                        
                        
                            <% } %>

                
            </select>
            <label>Union:</label>
            <select name="union">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <input id="add-venue-button" type="submit" value="Update Venue Info">
        </form>

    </section>

    <%- include('../partials/footer') %>