<%- include('../partials/header') %>

    <h1>
        <%= title %>
    </h1>
    <button class="button"><a class= "list-button" id="add-venue" href="/venues/new">Add Venue</a></button>
    <table id="venue-list">
        <tbody>
            <%venues.forEach(function(v){  %>
                <tr>
                    <td>
                        <%= v.name %>
                    </td>
                    <td>
                        <%= v.city %>
                    </td>
                    <td>
                        <%= v.state %>
                    </td>
                    <td>
                        <button><a class="list-button" href="/venues/<%= v._id %>">SELECT</a></button>
                    </td>
                    <td>
                        <div>
                            <form action="/venues/<%= v._id %>?_method=DELETE" class="delete-form" method="POST">
                                <button type="submit">X </button>
                            </form>
                        </div>
                    </td>
                </tr>
                <%}); %>
        </tbody>
    </table>

    <%- include('../partials/footer') %>