<%- include('../partials/header') %>




    <h2>Current Venues</h2>
    <table id="venue-list">
        <thead>
            <tr>
                <th>Venue</th>
                <th>City</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            <%venues.forEach(function(v){  %>
                <tr>
                    <td>
                        <%= v.name %>
                    </td>
                    <td>
                        <%= v.city %>
                    </td>
                    <td>
                        <%= v.state %>
                    </td>
                    <td>
                        <button><a class="list-button" href="/venues/<%= v._id %>">SELECT</a></button>

                    </td>
                    <td>
                        <div>
                            <form action="/venues/<%= v._id %>?_method=DELETE" class="delete-form" method="POST">
                                <button type="submit">DELETE</button>
                            </form>
                        </div>
                    </td>
                </tr>

                <%}); %>
        </tbody>




    </table>

    <h2>Enter New Venue</h2>
    <section id="venue-details-input">
        <form id="form-new-venue" action="/venues" method="POST">
            <label>Name:</label>
            <input type="text" name="name">
            <label>City:</label>
            <input type="text" name="city">
            <label>State: </label>
            <input type="text" name="state">
            <label>Power:</label>
            <select name="power">
                <option value="1 PHASE 100A">Single-Phase - 100A</option>
                <option value="3 PHASE 100A">3-Phase - 100A</option>
                <option value="3 PHASE 200A">3-Phase - 200A</option>
                <option value="3 PHASE 400A">3-Phase - 400A</option>
            </select>
            <label>Union:</label>
            <select name="union">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <input id="add-venue-button" type="submit" value="Add Venue">
        </form>

    </section>

    <%- include('../partials/footer') %>