<%- include('../partials/header') %>
    <h1>
        <%= title %>
    </h1>

    <a id="add-venue" href="/venues/new">Add Venue</a>


    <table id="venue-list">
        <h2>Current Venues</h2>
        <thead>
            <tr>
                <th>Venue</th>
                <th>City</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            <%venues.forEach(function(v){  %>
                <tr>
                    <td>
                        <%= v.name %>
                    </td>
                    <td>
                        <%= v.city %>
                    </td>
                    <td>
                        <%= v.state %>
                    </td>
                    <td>
                        <a href="/venues/<%= v._id %>">SELECT</a>
                    </td>
                    <td>
                        <div>
                            <form action="/venues/<%= v._id %>?_method=DELETE" class="delete-form" method="POST">
                                <button type="submit">X </button>
                            </form>
                        </div>
                    </td>
                </tr>

                <%}); %>
        </tbody>

    </table>

    <section id="venue-details">
        <h2>Venue Details</h2>


        <div>
            Venue Name:
            <%= venue.name %>
        </div>
        <div>
            City:
            <%= venue.city %>
        </div>
        <div>
            State:
            <%= venue.state %>
        </div>
        <div>
            Power Service:
            <%= venue.power %>
        </div>
        <div>
            Union:
            <%= venue.union %>
        </div>
        <div>
            Events:
            <ul>
                <%- venue.events.map(e => 
                  `<li>${e.name} <a href="/events/${e._id}">SELECT</a> </li>`
                ).join('') %>
            </ul>
        </div>


        <a href="/venues/<%= venue._id %>/edit">Edit venue details</a>



    </section>

    <%- include('../partials/footer') %>