<%- include('../partials/header') %>

    <div class="container text-center">
        <div class="row">
            <div class="col-md">
                <h1>Selected Venue Details</h1> <div class="d-grid gap-2 col overflow-auto">
                    <a class="btn btn-primary" href="/venues/<%= venue._id %>/edit">Edit venue details</a>
                    <%- include('../venues/partials/selected') %>
                </div>
                
            </div>
            <div class="col-md">
                <h1>Current Venues</h1>
                <div class="d-grid gap-2 col overflow-auto">
                    <a class="btn btn-primary" id="add-venue" href="/venues/new">Add Venue</a>
                    <%- include('../venues/partials/allvenues') %>
                </div>
            </div>

        </div>

    </div>







    <%- include('../partials/footer') %>