<%- include('../partials/header') %>


    <h1>
        <%= title %>
    </h1>

    <table id="worker-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>State</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%workers.forEach(function(w){  %>
                <tr>
                    <td>
                        <%= w.name %>
                    </td>
                    <td>
                        <%= w.city %>
                    </td>
                    <td>
                        <%= w.state %>
                    </td>
                    <td>
                        <a href="/workers/<%= w._id %>">SELECT</a>
                    </td>
                    <td>
                        <div>
                            <form action="/workers/<%= w._id %>?_method=DELETE" class="delete-form" method="POST">
                                <button type="submit">X </button>
                            </form>
                        </div>
                    </td>
                </tr>
                <%}); %>
        </tbody>
    </table>

    <section id="worker-details-input">
        <h2>Edit Worker</h2>
        <form id="form-new-worker" action="/workers/<%= worker.id %>?_method=PUT" method="POST" autocomplete="off">
            <label>Name:</label>
            <input type="text" name="name" value="<%= worker.name %> ">
            <label>Phone Number:</label>
            <input type="number" name="phoneNumber" value="<%= worker.phoneNumber %> ">
            <label>City:</label>
            <input type="text" name="city" value="<%= worker.city %> ">
            <label>State: </label>
            <input type="text" name="state" value="<%= worker.state %> ">
            <label>Specialty:</label>
            <select name="specialty">
                <%=  %> 
                <option value="none" selected disabled hidden>Select a Specialty</option>
                <option value="audioEngineer">Audio Engineer</option>
                <option value="audioTech">Audio Tech</option>
                <option value='lightingEngineer'>Lighting Engineer</option>
                <option value='lightingTech'>Lighting Tech</option>
                <option value="video">Video</option>
                <option value="rigging">Rigging</option>
                <option value="stagehand">Stage Hand</option>

            </select>

            <label>Day Rate: </label>
            <input type="number" name="dayRate" value="<%= worker.dayRate %>">
            <!-- <label>Venues Worked at: </label> -->
            <!-- insert forEach loop here to create check box options -->


            <input type="submit" value="Update Worker Info ">
        </form>

    </section>

    <%- include('../partials/footer') %>