<%- include('../partials/header') %>

    <h1>
        <%= title %>
    </h1>

    <button class="button"><a class="list-button" id="add-worker" href="/workers/new">Add Worker</a></button>

    <table id="worker-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>State</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%workers.forEach(function(w){  %>
                <tr>
                    <td>
                        <%= w.name %>
                    </td>
                    <td>
                        <%= w.city %>
                    </td>
                    <td>
                        <%= w.state %>
                    </td>
                    <td><button><a class="list-button" href="/workers/<%= w._id %>">SELECT</a></td></button>
                        <td>
                            <div>
                                <form action="/workers/<%= w._id %>?_method=DELETE" class="delete-form" method="POST">
                                    <button type="submit">X </button>
                                </form>
                            </div>
                        </td>
                </tr>
                <%}); %>
        </tbody>
    </table>

    <%- include('../partials/footer') %>