<%- include('../partials/header') %>


<div class="container text-center">
    <div class="row">
        <div class="col-md">
            <h1>Selected worker Details</h1> <div class="d-grid gap-2 col ">
                <a class="btn btn-primary" href="/workers/<%= worker._id %>/edit">Edit worker details</a>
                <%- include('../workers/partials/selected') %>
            </div>
            
        </div>
        <div class="col-md">
            <h1>Current workers</h1>
            <div class="d-grid gap-2 col overflow-auto">
                <a class="btn btn-primary" id="add-worker" href="/workers/new">Add worker</a>
                <%- include('../workers/partials/allworkers') %>
            </div>
        </div>

    </div>

</div>



    <h1>
        <%= title %>
    </h1>

    <table id="worker-list">
        <thead>
            <tr>

            </tr>
        </thead>
        <tbody>
            <%workers.forEach(function(w){  %>
                <tr>
                    <td>
                        <%= w.name %>
                    </td>
                    <td>
                        <%= w.city %>
                    </td>
                    <td>
                        <%= w.state %>
                    </td>
                    <td><button><a class="list-button" href="/workers/<%= w._id %>">SELECT</a></td></button>
                        <td>
                            <div>
                                <form action="/workers/<%= w._id %>?_method=DELETE" class="delete-form" method="POST">
                                    <button type="submit">X </button>
                                </form>
                            </div>
                        </td>
                </tr>
                <%}); %>
        </tbody>
    </table>

    <button class="button"><a  class = "list-button" id="add-worker" href="/workers/new">Add worker</a></button>

    <h2>Worker Details</h2>
    <section id="worker-details">
        <div>
            Name:
            <%= worker.name %>
        </div>
        <div>
            City:
            <%= worker.city %>
        </div>
        <div>
            State:
            <%= worker.state %>
        </div>
        <div>
            Phone Number:
            <%= worker.phoneNumber %>
        </div>
        <div>
            Specialty:
            <%= worker.specialty %>
        </div>
        <div>
            Day Rate:
            <%= worker.dayRate %>
        </div>

        <div>
            Events Booked:
            <ul>
                <%- worker.eventsBooked.map(w => 
                  `<li>${w.name} <button><a class = "list-button" href="/events/${w._id}">SELECT</a></button> </li>`
                ).join('') %>
            </ul>
        </div>

        <button><a class = "list-button" href="/workers/<%= worker._id %>/edit">Edit worker details</a></button>


    </section>

    <%- include('../partials/footer') %>