<%- include('../partials/header') %>
    <h1>
        <%= title %>
    </h1>

    <a id="add-worker" href="/workers/new">Add worker</a>




    <table id="worker-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>State</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%workers.forEach(function(w){  %>
                <tr>
                    <td>
                        <%= w.name %>
                    </td>
                    <td>
                        <%= w.city %>
                    </td>
                    <td>
                        <%= w.state %>
                    </td>
                    <td><a href="/workers/<%= w._id %>">SELECT</a></td>
                </tr>
                <%}); %>

        </tbody>

    </table>

    <section id="worker-details">
        <h2>Worker Details</h2>


        <div>
            Name:
            <%= worker.name %>
        </div>
        <div>
            City:
            <%= worker.city %>
        </div>
        <div>
            Phone Number:
            <%= worker.phoneNumber %>
        </div>
        <div>
            State:
            <%= worker.state %>
        </div>
        <div>
            Specialty:
            <%= worker.specialty %>
        </div>
        <div>
            Day Rate:
            <%= worker.dayRate %>
        </div>





    </section>

    <%- include('../partials/footer') %>